/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    width: 1300px;
    height: 930px;
    background-color: #00f5a8;
    position: relative;
}

.title{
    float: left;
    position: absolute;
    top: 217px;
    left: 125px;

}

.titleEN{
    float: left;
    font-size: 60px;
    color: #004e40;
    writing-mode: vertical-lr;
    margin-right: 25px;
    
}

.titleCH{
    font-size: 25px;
    color: #004e40;
    writing-mode: vertical-lr;
    letter-spacing: 15px;
}

.card{
    width: 720px;
    height: 420px;
    background-color: white;
    float: right;
    position: absolute;
    top: 190px;
    left: 325px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.39));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.288))
}

.card .detail{
    float: left;
}

.card img{
    height: 50px;
    padding-top: 35px;
    padding-left: 40px;
}

.card h2{
    font-size: 30px;
    color: #3a7781;
    font-weight: bold ;
    padding-top: 30px;
    padding-left: 48px;
}

.card h1{
    font-size: 40px;
    color: #005e4b;
    font-weight: 450; 
    padding-top: 35px;
    padding-left: 145px;
}

.card p{
    font-size: 20px;
    color: #40858f;
    font-weight: 500;
    padding-left: 48px;
    padding-top: 50px;
    line-height: 30px;
}

.d1{
    width:310px;
    height:260px;
    background:#00c178;
    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position: absolute;
    top: -70px;
    left: 600px;
  }

  .d2{
    width:145px;
    height:128px;
    background:#659d92;
    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position: absolute;
    top: 135px;
    left: 520px;

}

  .d3{
    width:200px;
    height:180px;
    background:#6bd3a7;
    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position: absolute;
    top: 200px;
    left: 630px;

}